<h1>Inscrivez-vous!</h1>
<p>créez votre compte pour voir les meetups et en créer de nouveaux</p>

<%= form_for @user do |f| %>
<%= f.text_field (:name) %>
<%= f.submit "Créer" %>
<% end %>
	
<%= link_to 'back', users_path %>