<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Eventbride.</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= users_path %>">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= events_path %>">Event</a>
      </li>
    </ul>
  </div>
</nav>
